:root{
	--MainColour: #DDF1F1; /*background colour*/
	--SecondaryColour: #F5FBFB;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    height: 100px;
}

.header_logo {
    transition:0.5s;
    text-align: center;
}
.header_logo img{
    max-width:50%;
    transition:0.5s;
    
}

.header_logo:hover{
    transform: scale(1.1);
    transition:0.5s;
}

.header_title{
    text-align: center;
    text-decoration: none;
    color:rgb(23, 82, 12);
    font-size: 1.3rem;
    font-weight:700;
    transition:0.5s;
}

.header_title:hover{
    font-size: 1.4rem;
}

.header_navbar{
    list-style: none;
    display: flex;
    margin-bottom: 0;
}



.navbar_link{
    margin: 10px;
    padding: 0;
}

.navbar_link a{
    text-decoration: none;
    font-size: 1.5rem;
    color:rgb(23, 82, 12);
    transition:0.5s;
    font-weight: 700;
}

section{
    background-color: var(--MainColour);
	overflow: auto;
    padding: 0px;
    margin: 0px;
}

.container{
	width: 90vw;
	margin: 10px auto;
	padding: 5px;
    background-color: var(--SecondaryColour);
    border-radius: 5px;
}

.category_title{
    align-items: center;
    color:rgb(23, 82, 12);
    font-size: 2rem;
    font-weight:700;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.category_title a {
    text-decoration: none;
}

.category{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category img{
    width: 300px;
    height: 450px;
}

.category h3{
    text-align: center;
}

.category a{
    text-decoration: none;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer_logo{
    text-align: center;
}

.footer_logo img{
    max-width:50%;
    transition:0.5s;
    object-fit: contain;
}

.footer_navbar{
    list-style: none;
    display: flex;
}

#breadcrumb{
    margin: 0 auto;
    text-align: center;
}
.breadcrumb{
    list-style: none;
    padding: 10px;
}

.breadcrumb li{
    display: inline;
}

.breadcrumb li a{
    text-decoration: none;
}

.breadcrumb li+li:before {
    padding: 10px;
    content: "/";
  }

.left_detail{
    grid-template-areas:left_detail ;
    margin-left: auto;
    margin-right: 0;
}

.mid_detail{
    grid-template-areas: mid_detail;
}

.mid_detail ul{
    list-style: none;
}

.right_detail{
    grid-template-areas: right_detail;
    margin: auto 0;
    text-align: center;
}

.book_detail{
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    align-items: center;
    padding:  20px 0px;
    
    
}

.book_detail img{
    width: 8vw;
    height: 19vh;
}

#book_detail_big{
    width: 30vw;
    height: 80vh;
}

#buy_button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.book_description{
    
    margin:100px;
    padding: 10px 100px;
}

#book_description_title{
    font-size: 2rem;
}

#book_description_subtitle{
    font-size: 1rem;
    font-weight: bold;
}

#book_description_content{
    font-size: 1rem;
}

.contact_title{
    align-items: center;
    color:rgb(23, 82, 12);
    font-size: 2rem;
    font-weight:700;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.contact_form{
    margin: 100px;
    margin-top: 50px;
}

.form{
    padding: 20px;	
    background-color: lightblue;
    max-width: 600px;
    margin: 0 auto; 
    border:1px solid white;
	border-radius: 10px;
}

.input-area{
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border:1px solid black;
	border-radius: 5px;
	
}

@media screen and (max-width: 960px) { 
    .category img{
        width: 250px;
        height: 350px;
    }

    .header_navbar{
        list-style: none;
        display: block;
        margin-bottom: 0;
    }

    .book_detail{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas:"left_detail mid_detail right_detail"  ;
        justify-content: center;
        margin: 100px;
        align-items: center;
        padding:  20px 0px;
        
    }

    .mid_detail ul{
        list-style: none;
        display: flex;
    }

    .mid_detail ul li{
        margin: 20px;
        text-align: center;
    }

    .left_detail{
        grid-template-areas:left_detail ;
        margin: 0 auto;
    }
}